@model IEnumerable<Order>

<div class="card-deck">
    @foreach (var order in Model)
    {    <div class="card m-3">
               <div class="card-header">
                   <h3>@order.Owner</h3>
               </div>
               <div class="card-footer text-center">
                   <a asp-controller="home" asp-action="details" asp-route-id="@order.Id" class="btn btn-primary m-1">View</a>
                   <a asp-controller="home" asp-action="edit" asp-route-id="@order.Id" class="btn btn-primary m-1">Edit</a>
                   <a href="#" class="btn btn-danger m-1">Delete</a>
               </div>
         </div>
    }
</div>